:root {
    --primary-color: #00bdff;
    --secondary-color: #f77500;
    --accent-color: #e07223;
    --font-family: Arial, sans-serif;
}
* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /* border: 1px solid; */
}
p {
    cursor: default;
}
h3 ,h2, h1 {
    cursor: default;

}
button {
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    height: auto;
    height: fit-content;
}
header {
    position: fixed;
    display: flex;
    background-color: var(--primary-color);
    background-color: #333dcf;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    z-index: 98;
}
header img {
    height: 65px;
    width: 6rem;
    border-bottom-right-radius: 10px;
    padding-left: 20px;
}
nav {
    display: flex;
    gap: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 0px;
    margin: 0 40px;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    transition: ease 0.3s;
    position: relative;
    padding-left: 5px;
    letter-spacing: 1.5px;
}

nav a:hover {
    transform: scale(1.1);
    color: white;
    border-left: 3px solid white;
}

.divPortDrkHeader {
    width: 60px;
    display: flex;
    gap: 20px;
    width: fit-content;
}
.Bars{
    display: none;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.Bars:hover{
    color: #192664;
}
.fa-regular {
    cursor: pointer;
    font-size:1.8rem;
    color: white;
    transition: ease-in-out 0.5s;
}
/* .fa-regular:hover {
    color: var(--secondary-color);
} */
.fa-regular.fa-chart-bar:hover {
    transform: rotate(-90deg);
    color: white;
}
.fa-solid  {
    cursor: pointer;
    font-size:1.8rem;
}

#Menu{
    width: 23rem ;
    background-color: #a8b1c2;
    position: fixed;
    display: none;
    padding: 20px 20px 0 20px;
    z-index: 99;
    height: 100%;
    overflow: scroll;    
    animation: menuanimopen ease 1s;
    /* background: linear-gradient( to bottom,rgb(235, 239, 255),rgb(25, 37, 100)); */
    background-color: #1b1d23;
    color: #fff;

}
#Menu2{
    width: 23rem ;
    background-color: #a8b1c2;
    position: fixed;
    right: 0;
    display: none;
    padding: 0;
    z-index: 99;
    height: 100%;
    overflow: scroll; 
    animation: menuanimopen2 ease 1s;

}
.Menu-all{
    padding: 20px 0;
}
.Menu-all2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AllMenusOpen{
    display: flex;
}
.Navig ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Navig ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;

    text-align: center;

}
.Navig ul li a:hover{
    border-bottom: #192664 3px solid;
}
@keyframes menuanimopen {
    0%{
        left: -500px;
    }
    100%{
        left: 0;
    }
}
@keyframes menuanimopen2 {
    0%{
        right: -500px;
    }
    100%{
        right: 0;
    }
}
#ClosePortfl {
    transition: .5s;
}
#ClosePortfl:hover{
    transform: scale(1.2);
}
.imgLogoPort {
    width: 75px;
    height: 78px;
}
.imgAndRmv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 150px;
}
.imgAndRmv i {
    color: var(--secondary-color);
}
.fa-xmark{
    font-size: 2rem;
}
.AbotAnddivL {
    align-items: center;
    flex-direction: column;
}
.AbotAnddivL p{
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 2rem;
    width: fit-content;
}
.imgGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
}
.imgGrid img {
    max-width: 100%; /* Adjust as needed */
    margin: 10px; /* Add some space between images */
    margin-left: 15px;
    width: 5rem;
    border-radius: 10px;
    height: 4.8rem;
    box-shadow: 0 0 30px rgb(96, 95, 95);
    transition: .5s;
    max-width: 100%;
}
.imgGrid img:hover {
    transform: scale(1.05);
}
.AbotAnddivLInfos {
    width: 100%;
}
.AbotAnddivLInfos i {
    padding-right: 10px;
    font-size: 1.3rem;
} 
.AbotAnddivLInfos.social {
    flex-direction: row;
    padding-bottom: 40px;
} 
.AbotAnddivLInfos.social i{
    /* cursor: pointer; */
    font-size:1.7rem;
    padding-left: 2rem;
    transition: .5s;
}
.AbotAnddivLInfos.social i:hover{
        color:var(--secondary-color) ;
}
/* HomeFirstSection */
.GcpButton {
    width: 300px;
}
.HomeFirstSection {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: fit-content;
    padding-top: 65px;
    gap: 25rem;
    width: 100%;
    background-color: #e07223;
}
.writFirstDiv {
    margin-left: -12rem;
    font-size: 1.8rem;
}
.writFirstDiv h2 {
    border-bottom: 3px solid var(--secondary-color);
}
.writFirstDiv button {
    box-shadow: 0px 0px 20px rgb(129, 129, 129);
    border: none;
    border-bottom: 3px solid var(--secondary-color);
    font-weight: bold;
    border-radius: 6px;
    padding: 20px 30px;
    transition: 0.5s;
}
.writFirstDiv button:hover {
    transform: scale(1.1);
    border-bottom: 3px solid rgb(0, 0, 0);
}
/* sercle */
.serceles {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 4rem; */
}
.cercle1 {
    margin: 20px 0px;
    border-radius: 20% 50% 10% 50%;
    width: 25rem;
    height: 25rem;
    background: var(--secondary-color);
    background: linear-gradient(rgb(24, 26, 101),rgb(255, 170, 0));
    animation: cercleanim 10s ease-in-out infinite alternate; 
}
.cercle2 {
    margin: 20px 0px;
    border-radius: 20% 50% 10% 50%;
    width: 22rem;
    height: 22rem;
    background: var(--secondary-color);
    background: linear-gradient(rgb(28, 23, 78),rgb(26, 26, 93));
    animation: cercleanim2 10s ease-in-out infinite alternate; 
    /* margin-left: -25rem; */
    background-image: url(./assets/femmecasiste.webp);
    background-position: 50%;
    background-size: 45rem;
    background-repeat: no-repeat;
}
/* section metier article */
.metierArticle {
    background-color: var(--primary-color);
    background-color: #333dcf;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 13%;
    border-bottom-right-radius: 5%;
    height: 8rem;
    position: relative;
    box-shadow: 2px 2px 17px var(--secondary-color);
    padding-bottom: 3rem;
    margin: 0;
    border-top: none;
    box-shadow: none;
}
.svgsec{
    position: relative;
}
svg{
    width: 50px;
    height: 50px;
    color: var(--secondary-color);
    position: absolute;
    right: 225px;
    bottom: 25px;
    /* opacity: 0.8; */
}
@keyframes cercleanim {
    0% {
        border-radius: 100% 60% 95% 100%;
    }
     25% {
        border-radius: 100% 100% 60% 100%;
    }
    50% {
        border-radius: 100% 100% 100% 50%;
    }
    75% {
        border-radius: 40% 100% 100% 60%;
    }
    100% {
        border-radius: 100% 50% 100% 100%;
    }
}
@keyframes cercleanim2 {
    0% {
        border-radius: 100% 60% 95% 100%;
    }
     25% {
        border-radius: 100% 100% 60% 100%;
    }
    50% {
        border-radius: 100% 100% 100% 50%;
    }
    75% {
        border-radius: 40% 100% 100% 60%;
    }
    100% {
        border-radius: 100% 50% 100% 100%;
    }
}
/* gallery div */
.galleryDiv {
    background-color: #f1f5f8;
    padding: 0rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 40px;
    position: relative;
    margin: 0 0 70px 0;
}
.galleryDiv i{
    font-size: 6rem;
    color: #bcbcbc;
    opacity: .5;
    position: absolute;
    right: 20px;
    box-sizing: border-box;
    transform: rotate(45deg); 
    padding-top: -3rem;
    cursor: default;
    z-index: 23;
}
.titlegalry {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
}
.titlegalry img {
    width: 100%;
    position: absolute;
    z-index: 22;
}
.titlegalry h2 {
    z-index: 23;
}
.divTipgallery {
    text-align: center;
}
.titlegalry.galry {
    margin-bottom: -1rem;
}
.galerie {
    height: 40rem;
    width: 40rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
    z-index: 24;
}
.galerie div {
    transition: .5s;
}
.galerie div:hover {
    transform: scale(1.04);
}
.item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item1 {
    grid-column: 1 / span 2;
    background-image: url(./assets/iStock-143918313-scaled.jpg);
    border-top-left-radius: 15px;
}
.item2 {
    background-image: url(./assets/menonstock.webp);
}
.item3 {
    grid-column: 2 / span 2;
    background-image: url(./assets/kalmar-ecoreachstacker-scaled.jpg);
}
.item4 {
    grid-row: 2 / span 3;
    background-image: url(./assets/femmecasiste.webp);
}
.item5 {
    grid-column: 2 / span 2;
    background-image: url(./assets/fdf87c17b739fd2a24366cca956269e2d6046a84-7360x4912.webp);
    border-bottom-right-radius: 15px;
}
.galerie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* review */
.reviewsSec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0 0 70px 0;
}
.reviewsSec i {
    cursor: default;
}
.iOfreview {
    position: absolute;
    color: rgb(195, 193, 193);
    margin-left: 70%;
    transform: rotate(90deg);
    margin-top: -25rem;
    font-size: 4rem;   
}
 .iOfreview2 {
    color: #8d8989;
    transform: rotate(90deg);
    box-sizing: border-box;
    position: absolute;
    margin: 20rem 0rem 0rem 30rem; 
    opacity: 0.4;
    font-size: 5rem;
    z-index: 22;
} 
.iOfreview:hover {
    transform: rotate(180deg);
    color: rgb(195, 193, 193);
}
.titlegalry {
    margin-bottom: 3rem;
}
.titlegalry img {
    width: 17rem;
}
.containerReview {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: row;
    border: #d8d5d55f 8px solid;
    height: 60%;
    /* width: 70%; */
    padding: 2rem;
    margin:0  30px;
    max-width: 70%;
}
.smallContainerReview {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1b1d23;
    color: #fff;
    position: relative;
}
.reviewDiv {
    width: 30%;
    background-image: url(./assets/Clientimage.jpg);
    box-sizing: border-box;
    height: 27rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: none;
    border-top-right-radius: 100px;
    display: block;
    align-self: end;
    border: 1px solid ;
    z-index: 23;
}
.ReviewInfo{
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    padding: 1.3rem;
    padding-left: 3.2rem;
}
.ReviewInfo p {
    line-height: 30px;
}
.ReviewInfo h3 {
    margin-bottom: -13px;
}
.ReviewInfo img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 60px;
}
/* 3 divs de qualité */
.divProSuivi {
    width: 100%;
    box-sizing: border-box;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: -15px 0 8rem 0;
}
.divProSuivi div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 20px;
    width: 24%;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    background: linear-gradient(rgb(61, 48, 28),rgb(35, 36, 43));
    transition: .5s;
    cursor: pointer;
    z-index: 50;
    color: #fff;
    border-top-right-radius: 35px;
}
.divProSuivi div:hover {
    background-image: url(./assets/bgdivPro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    background-color: rgba(115, 98, 98, 0.5); /* Set the background color with transparency */
    backdrop-filter: opacity(10%); /* Set the opacity of the background using backdrop-filter */
    transform: scale(1.09);
}
.divProSuivi div p {
    margin-top: -10px;
    font-size: .9rem;

}
/* section Articles */
.sectionArticles {
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    margin-top: 20px;
    border-bottom: #64646438 1px solid;
    padding-bottom: 50px;
}
.articles img {
    width: 100%;
    height: 19rem;
    border-radius: 12px;
    margin: none;
}
.sectionArticles h2{
    text-align: center;
}
.articles {
    display: flex;
    gap: 5rem;
    justify-content: center;

}
.article {
    width: 22rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 25px rgb(190, 190, 190);
    border-radius: 15px;
    padding: 1rem;
    height: auto;
    transition: .1s ease;
}
.article:hover {
    border-left: 3px solid var(--secondary-color);
    height: auto;
}
.article .date {
    border: 2px solid gray;
    padding: 3px 7px;
    border-radius: 15px;
    font-size: 13px;
    width: fit-content;
}
.dateAndtitlearticl {
    display: flex;
    flex-direction: column;
}
.dateAndtitlearticl h3{
    text-align: center;
}
.description{
    width: fit-content;
}
.articledatediscription{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* have a quesion div */
.havequesitonsection {
    margin-bottom: 3rem;
    padding: 3rem;
    background: #2949b4;
    color: #ffffff;
    box-sizing: border-box;
    background-image: url(./assets/iStock-143918313-scaled.jpg);
    -webkit-background-size :cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-attachment: fixed;
    background-position :center;
    background-repeat: no-repeat;
    position: relative;
}
.Q-text{
    position: relative;
    z-index: 23;
        padding-left: 6em;
}
.layer {
    background-image: linear-gradient(0deg, rgba(38,38,38,0.7) 0%, rgba(38,38,38,0.7) 100%);  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0;
}
.havequesitonsection button {
    padding: 15px 25px;
    color: #2949b4;
    font-weight: 600;
    letter-spacing: 2px;
    transition: .2s;
}
.mapsvlleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f8f8; /* Set your desired background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    height: fit-content;
    font-size: 1.2rem;
}
.mapsvlleSection h2 {
    border-bottom: #333 2px solid;
}
.buttonVilles{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.buttonVilles button {
    margin: 5px;
    padding: 15px 25px;
    background-color: #3498db; /* Set your desired button background color */
    color: #fff; /* Set text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: .5s;
}
.buttonVilles button:hover {
    background-color: #e5690a;
    transform: scale(1.1);
}
.active{
    background-color: #e5690a !important;
}
.locationEtVilleInfo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width:80vw;
    margin-top: 20px;
    height: 60%;
    padding: 1rem;
    height: 100%;
    background-color: #ebe7ea;
}
.fa-city {
    position: absolute;
    padding: 20px;
    margin-top: 21rem;
    margin-right: 80rem;
    opacity: .2;
    font-size: 6em;
}
.Localistionchoisi {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.villeNomMaps {
    border-bottom: 2px var(--secondary-color) solid;
}
.Localistionchoisi iframe {
    /* border: 2px solid #3498db; */
    border-radius: 5px;
    height: 50vh;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.warningAndlocalinfo {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding-left: 1rem;
    justify-content: start;
    height: 50vh;
    width: 100%;
}
.warningAndlocalinfo h3 {
    font-size: 2.1rem;
    margin-bottom: -5px;
    color: #333; /* Set your desired text color */
}
/* footer */
footer {
    width: 100%;
    height: 100%;
    background: #8d8989;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to bottom,rgb(255, 255, 255),rgb(25, 38, 100,50%));
    padding-bottom: 3rem;
}
footer h1 {
    font-size: 22px;
    border-bottom: 5px solid rgb(25, 38, 100);
    width: 10rem;
}
footer img {
    height: 7rem;
    width: 9rem;
}
.Contentfooter {
    display: flex;
    justify-content: center;
    gap: 15rem;
}
.smallContent {
    height: 100%;
    width: 14rem;
}
.smallContent2 {
    font-size: x-large;
}
.smallContent2 h5 {
    margin-bottom: .6rem;
}
.Media {
    display: flex;
    gap: 2rem;
}
.Media i {
    font-size: 1.8rem;
    transition: .5s;
}
.Media i:hover {
    transform: scale(1.2);
    color:  rgb(51, 68, 152);
}
#yearFoot {
    font-size: 12px;
}
#section1{
    width: 100%;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #101213; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color); 
}
.Menu-all ul li{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.Menu-all ul li a{
    color: #192664;
    font-size: 20px;
}
.Menu-all ul li a:hover{
    color: var(--primary-color);
}
.Socialss2{
    position: absolute;
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    gap: 15px;
    right: -50px;
    margin-top: 14rem;
}
.Socialss2 h3{
    margin: 0;
}
.Socialss2 i {
    transition: .5s;
}
.line{
    width: 40px;
    height: 4px;
    background-color: var(--secondary-color);
}
.line i {
    cursor: pointer;
}
.Socialss2 i:hover {
    transform: rotate(-90deg);
    color: rgb(27, 32, 164);
}
.GCP{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.GCP-Title{
    position: relative;
}
.GCP-Title h2{
    position: relative;
    width: fit-content;
}

.GCP-Title img{
    position: absolute;
    width: 580px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(100%) brightness(0%);
}
.untogglescroll{
    overflow: hidden;
}
.GCP p{
    font-size: 20px;
    max-width: 500px;
    width: fit-content;
    text-align: center;
}
/*Phone*/ 
@media all and (max-width: 480px) { 
    .containerReview{
        margin: 0;
    }
    .ReviewInfo{
        padding: 0 10px;
        text-align: center;
    }
    nav{
        display: none;
    }
    .Bars{
        display: flex;
    }
    .articles{
        flex-wrap: wrap;
    }
    .sectionArticles {
        padding: 0 20px;
    }
    .Contentfooter{
        display: flex;
        width: fit-content;
        gap: 30px;
        flex-wrap: wrap;
        padding: 30px 50px;
    }
    .smallContent,.smallContent2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .smallContent2 h1{
        text-align: center;
    }
    #Menu{
        width: 19rem ;
    }
    #Menu2{
        width: 21rem ;
    }
    .havequesitonsection div {
        padding-left: 0;
        border: none;
        border-radius: 10px;
        filter: none; /* Vous pouvez ajuster la valeur de "5px" selon le flou souhaité */
    }
    .HomeFirstSection {
        flex-direction: column;
        box-sizing: border-box;
        gap: 0rem;
    }
    .writFirstDiv {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 20px 0;
    }
    .serceles {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        padding: 20px 0;
    }
    .cercle1 {
        margin: 20px 0px;
        border-radius: 20% 50% 10% 50%;
        width: 15rem;
        height: 15rem;
        background: var(--secondary-color);
        background: linear-gradient(rgb(24, 26, 101),rgb(255, 204, 0));
        animation: cercleanim 10s ease-in-out infinite alternate; 
    }
    .cercle2 {
        width: 93%;
        height: 90%;
    }
    .Socialss2{
        display: none;
    }
    .GCP-Title img{
        width: 380px;
    }
    .divProSuivi{
        height: fit-content;
        flex-direction: column;
        gap: 4rem;
    }
    .divProSuivi div{
        width: fit-content;
        margin: -20px 2rem 0 2rem;
    }
    .galerie {
        height: 25rem;
        width: 22rem;
    }
    .reviewDiv{
        display: none;
    }
    .ReviewInfo{
        width: 100%;
    }
    .smallContainerReview{
        height: fit-content;
    }
    .containerReview{
        height: fit-content;
    }
    .iOfreview2{
        display: none;
    }
    .smallContainerReview{
        display: flex;
        flex-direction: column;
    }
    .reviewDiv{
        width: 100px;
        border-radius: 50%;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;  
        margin-top: 20px;    
    }
    .locationEtVilleInfo{
        flex-direction: column-reverse;
    }
    .Localistionchoisi iframe{
        width: 100%;
    }
    .warningAndlocalinfo {
        height: 100%;
    }
}

@media all and (min-width: 480px) and (max-width: 820px) { 
    nav{
        display: none;
    }
    .Bars{
        display: flex;
    }
    .articles{
        flex-wrap: wrap;
    }
    .Contentfooter{
        display: flex;
        width: fit-content;
        gap: 50px;
        flex-wrap: wrap;
    }
    .smallContent{
        padding: 0 50px;
        width: fit-content;
    }
    .MapsSection{
        margin: 20px;
        margin-top: 5rem;
    }
    .maps{
        flex-wrap: wrap;
    }
    .havequesitonsection div {
        padding-left: 0;
        border: none;
        border-radius: 10px;
        filter: none; /* Vous pouvez ajuster la valeur de "5px" selon le flou souhaité */
    }
    .HomeFirstSection {
        flex-direction: column;
        box-sizing: border-box;
        gap: 0rem;
    }
    .writFirstDiv {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 20px 0;
    }
    .serceles{
        padding: 0;
    }
    .cercle1 {
        width: 20rem;
        height: 20rem;
    }
    .cercle2 {
        width: 93%;
        height: 90%;
    }
    .Socialss2{
        display: none;
    }
    .GCP-Title img{
        width: 480px;
    }
    .divProSuivi{
        height: fit-content;
        flex-direction: column;
        gap: 4rem;
    }
    .divProSuivi div{
        width: fit-content;
        margin: -20px 2rem 0 2rem;

    }
    .divProSuivi div:hover{
        transform: scale(1.03);
    }
    .galerie {
        height: 27rem;
        width: 27rem;
    }
    .reviewDiv{
        display: none;
    }
    .ReviewInfo{
        width: 100%;
    }
    .ReviewInfo h3{
        font-size: 16px;
    }
    .smallContainerReview{
        height: fit-content;
    }
    .containerReview{
        height: fit-content;
    }
    .iOfreview2{
        display: none;
    }
    .reviewDiv{
        display: flex;
        width: 100px;
        border-radius: 50%;
        height: 100px;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .locationEtVilleInfo{
        flex-direction: column-reverse;
    }
    .warningAndlocalinfo {
        height: 100%;
    }
}
/* for mr ahmed sami*/
@media all and (min-width: 547px) and (max-width: 608px) { 
    .ReviewInfo h3{
        font-size: 13px;
    }
}
@media all and (min-width: 479px) and (max-width: 546px) { 
    .reviewDiv{
        display: none;
    }
}
@media all and (min-width: 820px) and (max-width: 1024px) { 
    nav{
        display: none;
    }
    .Bars{
        display: flex;
    }
    .articles{
        flex-wrap: wrap;
    }
    .Contentfooter{
        display: flex;
        gap: 60px;
    
    }
    .HomeFirstSection{
        gap: 14rem;
    }
    .cercle1 {
        width: 20rem;
        height: 20rem;
    }
    .cercle2 {
        width: 93%;
        height: 90%;
    }
    .serceles{
        padding: 0;
    }
    .Socialss2{
        display: none;
    }
    .GCP-Title img{
        width: 550px;
    }
    .reviewDiv{
        display: flex;
        width: 100px;
        border-radius: 50%;
        height: 100px;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .ReviewInfo{
        width: 100%;
    }
    .smallContainerReview{
        height: fit-content;
    }
    .containerReview{
        height: fit-content;
    }
    .divProSuivi{
        height: fit-content;
        margin: -3rem 0 0 0 ;
    }
    .locationEtVilleInfo{
        flex-direction: column-reverse;
    }
    .warningAndlocalinfo {
        height: 100%;
    }
}
@media all and (min-width: 1024px) and (max-width: 1280px) { 
    .articles{
        flex-wrap: wrap;
    }
    .Contentfooter{
        display: flex;
        gap: 100px;
    }
    .HomeFirstSection{
        gap: 16rem;
    }
}
.GcpButton {
    background-color: #eaf2fe;
}