:root {
    --primary-color: #1e6ce1;
    --secondary-color: rgb(25, 38, 100);
    --accent-color: #e07223;
    --font-family: Arial, sans-serif;
}
* {
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    height: auto;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: #1e6ce1;
    justify-content: space-between;
    align-items: center;
}
img {
    height: 50px;
    margin-right: 10px;
}
nav {
    display: flex;
    gap: 50px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 0px;
    margin: 0 40px;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    transition: ease 0.3s;
    position: relative;
}

nav a:hover {
    transform: scale(1.1);
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
}

.divPortDrkHeader {
    width: 60px;
    display: flex;
    justify-content: space-between;
}
.fa-regular {
    cursor: pointer;
    font-size:1.8rem;
    transition: ease-in-out 0.5s;
}
.fa-regular:hover {
    color: var(--secondary-color);
}
.fa-solid  {
    cursor: pointer;
    font-size:1.8rem;
}

#Menu{
    width: 23rem ;
    background-color: #a8b1c2;
    position: absolute;
    display: none;
    padding: 20px;
    z-index: 99;
    height: calc(100% - 40px);
    animation: menuanimopen ease 1s;
}
@keyframes menuanimopen {
    0%{
        left: -380px;
    }
    100%{
        left: 0;
    }
}
#ClosePortfl {
    transition: .5s;
}
#ClosePortfl:hover{
    transform: scale(1.2);
}
.imgLogoPort {
    width: 130px;
    height: 130px;
}
.imgAndRmv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 150px;
}
.imgAndRmv i {
    color: var(--secondary-color);
}
.fa-xmark{
    font-size: 2rem;
}
.AbotAnddivL {
    align-items: center;
    flex-direction: column;
}
.AbotAnddivL p{
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 2rem;
    width: fit-content;
}
.imgGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
}
.imgGrid img {
    max-width: 30%; /* Adjust as needed */
    margin: 10px; /* Add some space between images */
    margin-left: 15px;
    width: 5rem;
    border-radius: 10px;
    height: 5rem;
    box-shadow: 0 0 30px rgb(96, 95, 95);
    transition: .5s;
}
.imgGrid img:hover {
    transform: scale(1.05);
}
.AbotAnddivLInfos {
    flex-direction: column;
    width: 100%;
}
.AbotAnddivLInfos i {
    padding-right: 10px;
    font-size: 1.3rem;
} 
.AbotAnddivLInfos.social {
    flex-direction: row;
} 
.AbotAnddivLInfos.social i{
    /* cursor: pointer; */
    font-size:2rem;
    padding-left: 2rem;
    transition: .5s;
}
.AbotAnddivLInfos.social i:hover{
        color:var(--secondary-color) ;
}







/* section metier article */
.metierArticle {
    background-color: var(--secondary-color);
    color: #fff;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 13%;
    border-bottom-right-radius: 5%;
}







/* footer */
footer {
    width: 100%;
    /* height: 25rem; */
    background: #8d8989;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to bottom,rgb(255, 255, 255),rgb(25, 38, 100,50%));
}
footer h1 {
    font-size: 22px;
    border-bottom: 5px solid rgb(25, 38, 100);
    width: 10rem;
}
.Contentfooter {
    display: flex;
    justify-content: center;
    gap: 15rem;
}
.smallContent {
    height: 100%;
    width: 14rem;
}
.smallContent2 {
    font-size: x-large;
}
.smallContent2 h5 {
    margin-bottom: .6rem;
}
.Media {
    display: flex;
    gap: 2rem;
}
.Media i {
    font-size: 1.8rem;
    transition: .5s;
}
.Media i:hover {
    transform: scale(1.2);
    color:  rgb(51, 68, 152);
}
#yearFoot {
    font-size: 12px;
}
#section1{
    width: 100%;
    height: 100vh;
}