* {
    /* border: 1px solid red ; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.outfit-uniquifier {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight !important;
    font-style: normal;
  }
  
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit' , sans-serif !important;
    font-weight:lighter ;
}
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    padding: 0 15%;
    color: rgb(255, 255, 255);
}
header div {
    /* background-color: rebeccapurple; */
    /* flex-direction: column; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}
header i {
    font-size: larger !important;
    display: none !important;
    border-radius: 0px !important;
}
header img {
    width: 100px;
}
header ul {
    display: flex;
    justify-content: space-between;
    /* background-color: red;    */
    /* width: 100%; */
}
header ul li {
    /* padding: 0px 20px; */
    margin: 0px 20px;
    list-style: none;
    border-bottom: 2px solid rgb(6, 64, 210);
    font-weight: bold;
    font-size: larger;
    display: flex;
    align-items: center;
}

.Headimg {
    padding: 0 !important;   
    position: relative;
    background-size: cover;
    overflow: hidden;
    width: 50%;
    display: inline-block;
}
.secheadDiv1  {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 60%;
    border: 0 !important;
    outline: none !important;
    padding: 40px 50px;
}
.Headimg img {
    filter:  brightness(.8);
    position: relative;  
    width: 100%;
    aspect-ratio: 2/1; 
    object-fit: cover; 
}
.Headimg .overlayH {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9360994397759104) 0%, rgba(255,255,255,0) 87%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}
.secHeadimg {
    padding: 0 15%;
}


body {
    height: 100vh;
}   
.grid-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr ;
    width: 40%;
    gap: 5px;

}
.card {
    /* padding: 10px; */
    background-color:rgb(85, 83, 83);
    color: rgb(255, 255, 255) !important;
    /* margin: 5px; */
    text-align: center;
    height: 180px !important;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

    background-image: url(assets/femmecasiste.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all 0.3s;
    border: 0 !important;
}
.cd2 {
    background-image: url(assets/cacesenginchantier.jpg) !important;
}

section {
    display: flex;
    margin: 20px auto;
    flex-direction: row;
    width: 100%;
    padding: 0 15%;
    justify-content: space-between;
}
section .div1 {
    width: 60%;
    /* background-color: red; */
}
.div1 i {
    font-size: 15px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(6, 64, 210);
    border-radius: 100%;
    display: inline;
    margin-right: 10px;
    width: 33px;
    aspect-ratio: 1/1;
}
.div1 p {
    display: inline;
    font-weight: bold;
}
.div1 div {
    margin: 10px;
    padding: 15px;
}

/* menuphone */
.menuPhone {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    height: 170px;
    font-weight: bold;
    font-size: larger;
    display: none ;
    transition: all 0.3s;
    background-color: rgb(235, 233, 233);
}
#afficheMenuPhone {
    transition: all 0.3s;
}
.menuPhone ul {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    width: 95%;
    list-style: none;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
@media  (max-width:1300px) {
    section {
        flex-direction:column;
    }
    section div {
        width: 100%;
    }
    .grid-container {
        width: 100%;
    }
    section .div1 {
    width: 100%;
    /* background-color: red; */
}
    body {
        margin: 0 !important;
    }
@media  (max-width:1300px) {
    section {
        width: 95%;
    }
   }
}
@media (max-width: 700px) {
    header {
        padding: 12px;
    }
    header ul {
        display: none;
    }
    header i {
        display: flex !important;
        font-size: 30px !important;
        align-items: center;
    }
    .secHeadimg  {
        flex-direction: row;
        height: 120px;
        padding: 0;
    }
    .secHeadimg img {
        height: 100%;
    }
    .secHeadimg  div h2 {
        font-size: 20px;
    }
    .secHeadimg  div {
        padding: 15px;
    }
    section {
        padding: 0;
    }
    .div1 div {
        padding: 7px 0;
    }
    /* .div1 i {
        width: 200px !important;
    } */
    footer {
        padding:  60px  15px !important;
        padding-bottom: 60px !important;
        flex-direction: column;
    }
}

.background-overlay {
    width: 100%;
    height: 300px; /* Adjust as needed */
    background: 
      linear-gradient(rgba(139, 137, 137, 0.5), rgba(128, 128, 128, 0.5)), 
      url('your-image.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
    padding-top: 20px;
    transition: all 0.3;

  }
  .card:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px gray;
    z-index: 999;
    justify-content: s;
}
  .card:hover .background-overlay {
    background: none;
  }

footer {
    padding: 50px 15%;
    height: 200px;
    color: aliceblue;
    background-color: black;
    height: fit-content;
    min-height: fit-content;
}